<!-- templates/login.html -->
{% extends "base.html" %}
{% block content %}
<form class="form-signin" method="POST" action="/user/login">
   <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
   <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-primary" role="alert">
      {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}
   <label for="inputEmail" class="sr-only">Email address</label>
   <input type="email" id="inputEmail" class="form-control" type="email" name="email" placeholder="Email" required="" autofocus="">
   <label for="inputPassword" class="sr-only">Password</label>
   <input type="password" id="inputPassword" class="form-control" type="password" name="password" placeholder="Password" required="">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   {{ recaptcha }}
   <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember"> Remember me
      </label>
      </div>
   </hr>
   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
   <small>
      <p class="text-center ">If you don't have an account, please use <a href="/user/signup">sign up</a> form
   </small>
   </p>
   </hr>
   <small class="text-muted"><a href="/">← Return to the homepage</a></small>
   <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
{% endblock %}